.Header{
  position: relative;
  width: 100%;
  background-color: rgb(30,31,38);
  font-size: 18px;
  padding-bottom: 1px;
  .nav{
    display: grid;
    grid-template-columns: auto 1fr auto;
    column-gap: 20px;
    justify-content: space-between;
    align-items: center;
    padding: 0 40px;
    ul{
      list-style: none;
      display: grid;
      grid-auto-flow: column;
      justify-content: right;
      margin: 0;
      li{
        position: relative;
      }
    }
    a, .dropdown{
      user-select: none;
      cursor: pointer;
      display: grid;
      align-items: center;
      padding: 26px 32px;
      text-decoration: none;
      position: relative;
      box-sizing: border-box;
      color: whitesmoke;
      &:after{
        position: absolute;
        content: '';
        height: 3px;
        left: 0;
        bottom: 0;
        background-color: darkcyan;
        transition: linear all .2s;
        width: 100%;
        transform: scale(0);
      }
      .faCaretLeft{
        position: absolute;
        right: 6px;
        transform: rotate(0);
        transition: linear all .1s;
      }
      &:hover{
        &:after{
          transform: scale(1) !important;
        }
        .faCaretLeft{
          transform: rotate(-90deg);
        }
      }
    }
    .dropdown:hover > ul.dropdown-menu{
      animation: forwards drop_down .6s .1s;
    }
    .active:after{
      position: absolute;
      content: '';
      width: 100%;
      height: 3px;
      left: 0;
      bottom: 0;
      background-color: darkcyan;
      transform: scale(1);
    }
    .nav-brand{
      padding-bottom: 2px;
      font-family: "Comic Sans MS", sans-serif;
      .toggle_menu{
        display: none;
      }
      a:after{transform: scale(0)}
    }
    &:hover .active:after{transform: scale(0)}
  }
  ul.dropdown-menu{
    overflow: hidden;
    max-height: 0;
    position: absolute;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(100%, auto));
    grid-auto-flow: unset;
    padding: 0 0 0 0;
    top: 100%;
    left: 0;
    width: max-content;
    min-width: 100%;
    background-color: rgb(30,31,38);
    transition: linear all .3s;
    li{
      margin: 0;
      padding: 0;
      width: 100%;
      a{
        padding: 12px 6px;
      }
    }
  }
}
@keyframes drop_down {
  0%{max-height: 0}
  30%{max-height: 0}
  100%{max-height: 200px}
}
@media screen and (max-width: 769px){
  .Header{
    font-size: 16px;
    .nav{
      a, .dropdown{
        padding: 13px 16px;
        .faCaretLeft{
          right: 0;
        }
      }
    }
  }
}

@media screen and (max-width: 426px) {
  .Header {
    max-height: 48px;
    overflow: hidden;
    transition: linear all .4s;
    .nav {
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(98%, 100%));
      justify-content: left;
      padding: 0;

      .nav-brand {
        display: grid !important;
        grid-template: 1fr / 1fr 1fr;
        justify-content: space-between;
        .toggle_menu{
          color: white;
          font-size: 24px;
          display: grid;
          justify-content: right;
          align-content: center;
          padding-right: 20px;
        }
      }

      ul {
        width: 100%;
        list-style: none;
        display: grid;
        grid-auto-flow: unset;
        grid-template-columns: repeat(auto-fit, 100%);
        padding: 0;
        li{
          a, .dropdown{
            justify-content: left;
            .faCaretLeft{
              right: unset;
              left: 70px;
              top: 16px;
            }
          }
        }
      }
    }

    a, .dropdown {
      display: grid;
      grid-template: 1fr / 1fr;
      width: 100%;
      padding: 13px 16px;
    }
    .nav-auth{
      display: grid;
      justify-content: left;
    }

    ul.dropdown-menu{
      top: unset !important;
      width: 100%;
      position: relative;
      z-index: 2;
      li{
        a{
        }
      }
    }
  }
  .Header.active{max-height: 600px;}
}
